/*******************
General
*******************/
body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
}

/*remove underlines from links */
a {
    text-decoration: none;
}

/* remove all bullet points */
ul {
    list-style: none;
}

/* image 100% of their copntainer */
img {
    max-width: 100%;
}

/* set wrapper */
#wrapper {
    max-width: 940px;
    margin: 0px auto;
}

h1 {
    font-size: 1.75em;
    font-weight: 600;
    margin-top: 0px;
    padding-top: 15px;
}

h2 {
    font-size: 1em;
    font-weight: 600;
    margin: -10px 0 0 0;
    padding-top: 15px;
}

/********************
Colors
********************/
header {
    background: #6ab47b;
    border-color: #599a68;
}

body {
    background-color: #fff;
    color: ;
}

/*******************
Header
********************/
#logo {
    text-align: center;
    margin: 0px;
}

/* background on mobile */
nav {
    background: #599a68;
}

/********************
Navigation
*********************/
nav li {
    display: inline-block;

    nav {
        text-align: center;
        padding: 10px;
    }

    nav a:hover,
    nav a.selected {
        padding: 0px 15px;

    }

    nav a:hover,
    nav a:selected {
        color: #32673f;
    }

    nav ul {
        padding: 0px;
        margin: 0px;
    }

    /*******************
Footer
********************/
    footer {
        clear: both;
        text-align: center;
        color: #ccc;
        padding-top: 50px;
    }

    .social-icon {
        width: 20px;
        height: 20px;
        margin: 0;
    }

    /********************
Page:Portfolio
********************/
    #gallery {
        margin: 0;
        padding: 0;
    }

    #gallery li {
        float: left;
        width: 45%;
        margin: 2.5%;
        background-color: #f5f5f5;
        color: #6d7980;
    }

    #gallery li p {
        margin: 0;
        padding: 5%;
        font-size: .75em;
    }

    /*******************
Page: Contact
*******************/
    .contact-info a {
        display: block;
        background-repeat: no repeat;
        min-height: 20px;
        background-size: 20px 20px;
        padding: 0 0 0 30px;
    }

    .contact-info li.phone a {
        background-image: url('../img/phone.png');
    }

    .contact-info li.email a {
        background-image: url('../img/email.png');
    }

    .contact-info li.twitter a {
        background-image: url('../img/twitter.png');
    }

    /********************
Page: About
********************/
    .profile-phone {
        max-width: 150px;
        margin: 20px auto 30px;
    }

    body {
        font-family: Poppins;
    }

    h1 {
        font-weight: 700;
        font-size: 1.75em;
    }

    h2 {
        font-weight: 200;
        font-size: .75em;
    }

    h3 {
        font-size: .8em;
    }

    p,
    a {
        font-weight: 300;
        font-size: .67em;
    }

    .bg-primary {
        background-color: #6ab47b !important;
    }

    .active,
    .nav-link:hover {
        color: #32673f !important;
    }

    a,
    a:hover {
        color: #222020 !important;
    }

    .border-bottom-green {
        border-bottom: solid 5px #599a68;
    }

    header a,
    header a:hover {
        color: white !important;
    }