@ screen and (min-width: 660px) {
    #logo {
        margin-left: 5%;
        padding-bottom: 25px;
        background-color: #6ab47b;
    }

    nav {
        float: right;
        background: none;
        text-align: right;
        width: 45%;
        margin-right: 5%;
        margin-top: 25px;
    }

    header {
        width: 100%;
        margin: 0 0 30 px 0;
        padding: 5px 0 0 0;
        float: left;
        border-bottom: 5px solid #599a68;
    }

    #wrapper {
        clear: both;
    }
}

@media screen and (min-width: 480px) {

    /*********************
two column layout
**********************/
    #primary {
        float: right;
        width: 50%;
    }

    #cecondary {
        float: right;
        width: 40%;
    }

    /*********************
Page: About
**********************/
    .profile-photo {
        float: left;
        margin: 0 5% 80px;
    }

    #gallery li {
        width: 28.3333%;
    }

}